{{ define "linux-mac-common" }}

  <div>
  <h2>Install kubelogin plugin</h2>
  <a title="kubelogin" href="https://github.com/int128/kubelogin">https://github.com/int128/kubelogin</a>

  <p>The kubelogin plugin streamlines OIDC authentication from the command line.</p>
  <p>
  When you run kubectl, kubelogin opens the browser and you can log in to the provider. 
  Then kubelogin gets a token from the provider and kubectl can access Kubernetes APIs with the token.
  </p>

  <p>
    <b> * Install with brew:</b>
  </p>
  <div class="command">
    <button class="btn" style="float:right" data-clipboard-snippet="">
      <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt=""/>
    </button>
    <pre><code> brew install int128/kubelogin/kubelogin </pre></code>
  </div>

  <p>
    <b> * Install with krew:</b>
  </p>
  <p><i>krew</i> is a plugin manager for <tt>kubectl</tt></p>
  <div class="command">
    <button class="btn" style="float:right" data-clipboard-snippet="">
      <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt=""/>
    </button>
    <pre><code>kubectl krew install oidc-login</pre></code>
  </div>

  </div>

  <h2>Add / Update kubeconfig context</h2>

  <p>These commands will update <tt>~/.kube/config</tt>. Use <tt>--kubeconfig=xyz</tt> to update a different config file.</p>

  <p><b>Create / Update cluster settings in kubeconfig:</b></p>
  <div class="command">
    <button class="btn" style="float:right" data-clipboard-snippet="">
      <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt="">
    </button>
    <pre><code>{{- if or .K8sCaPem -}}
  # API Server CA Certificate
  K8S_CA_CERT="{{.K8sCaPem}}"

{{ end }} kubectl config set-cluster {{ .ClusterName }} \
  {{- if .K8sCaPem }}
  --certificate-authority <(echo -n $K8S_CA_CERT) \
  --embed-certs=true \
  {{- end }}
  --server={{ .K8sMasterURI }}</code></pre>
  </div>

  <div class="command">
    <button class="btn" style="float:right" data-clipboard-snippet="">
      <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt=""/>
    </button>
    <pre><code>kubectl config set-credentials {{ .Username }}-{{ .ClusterName }} \
      --exec-api-version=client.authentication.k8s.io/v1beta1 \
      --exec-command=kubectl \
      --exec-arg=oidc-login \
      --exec-arg=get-token \
      --exec-arg=--listen-address=127.0.0.1:18000 \
      --exec-arg=--oidc-issuer-url={{ .Issuer }} \
      --exec-arg=--oidc-client-id={{ .ClientID }} \
  {{- if .ClientSecret }}
      --exec-arg=--oidc-client-secret={{ .ClientSecret }} \
  {{- end }}
      --exec-arg=--oidc-extra-scope=email \
      --exec-arg=--oidc-extra-scope=groups</code></pre>
  </div>

  <div class="command">

    <button class="btn" style="float:right" data-clipboard-snippet="">
      <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt="">
    </button>
    <pre><code class="hljs">kubectl config set-context {{ if not .StaticContextName }}{{ .Username }}-{{ end }}{{ .ClusterName }} \
    --cluster={{ .ClusterName }}{{ if .Namespace }} --namespace={{ .Namespace }}{{ end }} \
    --user={{ .Username}}-{{.ClusterName }}</code></pre>
  </div>

  <div class="command">

    <button class="btn" style="float:right" data-clipboard-snippet="">
      <img class="clippy" width="13" src="{{ .Web_Path_Prefix }}static/clippy.svg" alt=""/>
    </button>
    <pre><code class="hljs">kubectl config use-context {{ if not .StaticContextName }}{{ .Username }}-{{ end }}{{ .ClusterName}}</code></pre>
  </div>

{{ end }}
